body {
    background-color: var(--bg-color);
}

header {
    background-color: var(--bg-header-footer);
    color: #fff;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    padding: 20px
}

header nav ul {
    display: flex;
    width: 300px;
    list-style: none;
    justify-content: space-evenly;
}

header nav {
    display: none;
}

@media screen and (min-width: 768px) {
    header nav {
        display: block;
    }
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f00;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.show {
    display: block;
}

.nav-mobile ul  {
    display: block;
}
main {
    min-height: 300px;
    padding: 20px
}


footer  {
    background-color: var(--bg-header-footer);
    color: #fff;
    padding: 20px;
}

.hamburger {
    display: block;
}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }
}

.close {
    cursor: pointer;
    margin-bottom: 20px;
}

/* Animation */

.box {
    width: 150px;
    height: 150px;
    background-color: #f00;
    margin: 20px auto;
}

.slide-in {
    animation-name: slideIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.slide-out {
    animation-name: slideOut;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translate(1000px);
    }

    to {
        transform: translate(0px);
    }
}

@keyframes slideOut {
    from {
        transform: translate(0px);
    }

    to {
        transform: translate(-1000px);
    }
}
